NODEFLOW-prod-pm2.txt
[{"id":"39ba9aa9.4d8dd6","type":"ibmiot","z":"652f38b.2da55c8","name":"MyWatsonIoT"},{"id":"6325887e.342738","type":"ibmiot in","z":"652f38b.2da55c8","authentication":"apiKey","apiKey":"39ba9aa9.4d8dd6","inputType":"evt","deviceId":"2d0e46c3-7643-471c-a386-ded82bf7fa1c","applicationId":"","deviceType":"parking-meter","eventType":"observation","commandType":"","format":"json","name":"parking meter command responses","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"x":180.09945678710938,"y":578.3135986328125,"wires":[["ce0512d7.8e54c","5aa184ea.ef2c2c"]]},{"id":"e425639b.56317","type":"template","z":"652f38b.2da55c8","name":"Set Parking Time to 60 seconds","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"/100/0/1\", \"payload\":\"eyJ2YWx1ZSI6NjAsImNtZCI6InNldCIsImF1dGgiOiJhcm0xMjM0In0=\", \"deviceId\":\"2d0e46c3-7643-471c-a386-ded82bf7fa1c\", \"method\":\"put\" }","x":500.93255615234375,"y":229.1152801513672,"wires":[["551979bf.27e1f8","5aa184ea.ef2c2c"]]},{"id":"d2057784.8c0a38","type":"inject","z":"652f38b.2da55c8","name":"Start Parking Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":159.28567504882812,"y":229.92076873779297,"wires":[["e425639b.56317"]]},{"id":"ce0512d7.8e54c","type":"switch","z":"652f38b.2da55c8","name":"Is it the parking meter time value?","property":"payload.path","propertyType":"msg","rules":[{"t":"eq","v":"/100/0/1","vt":"str"}],"checkall":"true","outputs":1,"x":170.27804565429688,"y":426.68670654296875,"wires":[["2e4578ce.16de48"]]},{"id":"96558b46.989e28","type":"ibmiot out","z":"652f38b.2da55c8","authentication":"apiKey","apiKey":"39ba9aa9.4d8dd6","outputType":"cmd","deviceId":"2d0e46c3-7643-471c-a386-ded82bf7fa1c","deviceType":"parking-meter","eventCommandType":"post","format":"json","data":"0","name":"initiate parking meter countdown (POST)","service":"registered","x":1265.0006103515625,"y":305.7738952636719,"wires":[]},{"id":"cafb260b.ecee28","type":"template","z":"652f38b.2da55c8","name":"Start Parking Countdown","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"/100/0/1\", \"payload\":\"YXJtMTIzNA==\", \"deviceId\":\"2d0e46c3-7643-471c-a386-ded82bf7fa1c\", \"method\":\"post\", \"options\":\"noResp=true\" }","x":694.4049682617188,"y":506.3097839355469,"wires":[["96558b46.989e28","ad630fdd.d3314","5aa184ea.ef2c2c"]]},{"id":"b0cba675.692168","type":"switch","z":"652f38b.2da55c8","name":"Did parking time just get set to 60 seconds?","property":"value","propertyType":"msg","rules":[{"t":"eq","v":"60","vt":"num"}],"checkall":"true","outputs":1,"x":386.0123291015625,"y":506.3096389770508,"wires":[["cafb260b.ecee28"]]},{"id":"cb14ccff.10b2b","type":"switch","z":"652f38b.2da55c8","name":"Did parking time just expire?","property":"value","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":417.3812255859375,"y":355.7146301269531,"wires":[["e438f7e.0ebc608"]]},{"id":"551979bf.27e1f8","type":"ibmiot out","z":"652f38b.2da55c8","authentication":"apiKey","apiKey":"39ba9aa9.4d8dd6","outputType":"cmd","deviceId":"2d0e46c3-7643-471c-a386-ded82bf7fa1c","deviceType":"parking-meter","eventCommandType":"put","format":"json","data":"0","name":"set parking meter resource value (PUT)","service":"registered","x":1252.5594482421875,"y":222.20254516601562,"wires":[]},{"id":"9faae002.85fa6","type":"template","z":"652f38b.2da55c8","name":"Beacon ON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"/200/0/1\", \"payload\":\"MQ==\", \"devcieId\":\"2d0e46c3-7643-471c-a386-ded82bf7fa1c\", \"method\":\"put\" }","x":893.1949462890625,"y":140.17898559570312,"wires":[["551979bf.27e1f8","5aa184ea.ef2c2c"]]},{"id":"9c251f63.6a348","type":"template","z":"652f38b.2da55c8","name":"Beacon OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"/200/0/1\", \"payload\":\"MA==\", \"deviceId\":\"2d0e46c3-7643-471c-a386-ded82bf7fa1c\", \"method\":\"put\" }","x":408.9090270996094,"y":140.35752868652344,"wires":[["551979bf.27e1f8","13bc3424.cdaf3c","5aa184ea.ef2c2c"]]},{"id":"98e318f2.038b28","type":"inject","z":"652f38b.2da55c8","name":"Turn BLE Beacon OFF","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":163.69076538085938,"y":140.9845428466797,"wires":[["9c251f63.6a348"]]},{"id":"e438f7e.0ebc608","type":"template","z":"652f38b.2da55c8","name":"de-registration command","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"/86/0/1\", \"payload\":\"YXJtMTIzNA==\", \"deviceId\":\"2d0e46c3-7643-471c-a386-ded82bf7fa1c\", \"method\":\"post\", \"options\":\"noResp=true\" }","x":484.7623291015625,"y":307.321533203125,"wires":[["96558b46.989e28","5aa184ea.ef2c2c"]]},{"id":"eeb6773b.4aeb88","type":"inject","z":"652f38b.2da55c8","name":"de-register device","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":159.24624633789062,"y":308.3056335449219,"wires":[["e438f7e.0ebc608"]]},{"id":"13bc3424.cdaf3c","type":"trigger","z":"652f38b.2da55c8","op1":"1","op2":"0","op1type":"nul","op2type":"pay","duration":"10","extend":false,"units":"s","reset":"","name":"Wait for 10 seconds","x":686.994140625,"y":140.1788787841797,"wires":[["9faae002.85fa6"]]},{"id":"ad630fdd.d3314","type":"trigger","z":"652f38b.2da55c8","op1":"1","op2":"0","op1type":"nul","op2type":"pay","duration":"12","extend":false,"units":"s","reset":"","name":"Wait for 12 seconds","x":683.285888671875,"y":566.95263671875,"wires":[["f091d693.9cee88"]]},{"id":"f091d693.9cee88","type":"template","z":"652f38b.2da55c8","name":"Add 12 seconds to the current Parking Time","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"/100/0/1\", \"payload\":\"eyJ2YWx1ZSI6MTIsImNtZCI6InVwZGF0ZSIsImF1dGgiOiJhcm0xMjM0In0=\", \"deviceId\":\"2d0e46c3-7643-471c-a386-ded82bf7fa1c\", \"method\":\"put\" }","x":995.3812255859375,"y":567.0477905273438,"wires":[["551979bf.27e1f8","5aa184ea.ef2c2c"]]},{"id":"5aa184ea.ef2c2c","type":"debug","z":"652f38b.2da55c8","name":"","active":true,"console":"false","complete":"payload","x":1189.7623291015625,"y":438.5236511230469,"wires":[]},{"id":"2e4578ce.16de48","type":"function","z":"652f38b.2da55c8","name":"Base64DecodeToValueJSON","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/[^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/rn/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}}\nvar json_str = Base64.decode(msg.payload.payload);\nvar json_obj = JSON.parse(json_str);\nreturn {\"value\":json_obj.value};","outputs":1,"noerr":0,"x":454.9998779296875,"y":427.4998245239258,"wires":[["b0cba675.692168","cb14ccff.10b2b"]]}]
