NODEFLOW-prod.txt
[{"id":"c84e0ea.b86d8f","type":"ibmiot in","z":"ea2de314.e1bb18","authentication":"apiKey","apiKey":"abcb7093.6f029","inputType":"evt","deviceId":"MBED_ENDPOINT_NAME_GOES_HERE","applicationId":"","deviceType":"parking-meter","eventType":"notify","commandType":"","format":"json","name":"parking meter command responses","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":false,"qos":"0","x":172,"y":444.7774353027344,"wires":[["a98ba8f8.124098"]]},{"id":"a98ba8f8.124098","type":"switch","z":"ea2de314.e1bb18","name":"Is it the parking meter time value?","property":"payload.path","propertyType":"msg","rules":[{"t":"eq","v":"/100/0/1","vt":"str"}],"checkall":"true","outputs":1,"x":224.6785888671875,"y":312.6505432128906,"wires":[["72d21328.efebdc","8d9037c4.b132d8"]]},{"id":"c2b308a4.a1c678","type":"template","z":"ea2de314.e1bb18","name":"Start Parking Countdown","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"100/0/1\", \"payload\":\"eyJjbWQiOiJzdGFydCIsImF1dGgiOiJhcm0xMjM0In0=\", \"deviceId\":\"MBED_ENDPOINT_NAME_GOES_HERE\", \"method\":\"PUT\" }","x":694.8054809570312,"y":393.27362060546875,"wires":[["f0e0ae9f.76f48","4773c5f2.8981dc"]]},{"id":"6fae1058.4bb4f","type":"switch","z":"ea2de314.e1bb18","name":"Did parking time just get set?","property":"value","propertyType":"msg","rules":[{"t":"gt","v":"5","vt":"num"}],"checkall":"true","outputs":1,"x":442.4128723144531,"y":393.2734680175781,"wires":[["c2b308a4.a1c678"]]},{"id":"8d9037c4.b132d8","type":"switch","z":"ea2de314.e1bb18","name":"Did parking time just expire?","property":"payload.payload","propertyType":"msg","rules":[{"t":"eq","v":"MA==","vt":"str"}],"checkall":"true","outputs":1,"x":516.8889770507812,"y":274.2855529785156,"wires":[["c78042f0.11583"]]},{"id":"f0e0ae9f.76f48","type":"ibmiot out","z":"ea2de314.e1bb18","authentication":"apiKey","apiKey":"abcb7093.6f029","outputType":"cmd","deviceId":"MBED_ENDPOINT_NAME_GOES_HERE","deviceType":"parking-meter","eventCommandType":"put","format":"json","data":"0","qos":"","name":"set parking meter resource value (PUT)","service":"registered","x":1031.9956665039062,"y":84.63064575195312,"wires":[]},{"id":"fb5d5d52.3726","type":"template","z":"ea2de314.e1bb18","name":"Beacon ON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"200/0/1\", \"payload\":\"MQ==\", \"deviceId\":\"MBED_ENDPOINT_NAME_GOES_HERE\", \"method\":\"PUT\" }","x":532.0239562988281,"y":162.03568267822266,"wires":[["f0e0ae9f.76f48"]]},{"id":"c8065c86.b1086","type":"template","z":"ea2de314.e1bb18","name":"Beacon OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"200/0/1\", \"payload\":\"MA==\", \"deviceId\":\"MBED_ENDPOINT_NAME_GOES_HERE\", \"method\":\"PUT\" }","x":528.0595397949219,"y":80.17853546142578,"wires":[["f0e0ae9f.76f48"]]},{"id":"5e2bc32b.6de6dc","type":"inject","z":"ea2de314.e1bb18","name":"Set FREE PARKING","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":271.5912780761719,"y":79.5555648803711,"wires":[["c8065c86.b1086"]]},{"id":"e452a4f0.08aa08","type":"template","z":"ea2de314.e1bb18","name":"Add 12 seconds to the current Parking Time","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"100/0/1\", \"payload\":\"eyJ2YWx1ZSI6MTIsImNtZCI6InVwZGF0ZSIsImF1dGgiOiJhcm0xMjM0In0=\", \"deviceId\":\"MBED_ENDPOINT_NAME_GOES_HERE\", \"method\":\"PUT\" }","x":510.9247741699219,"y":498.2974548339844,"wires":[["f0e0ae9f.76f48"]]},{"id":"c78042f0.11583","type":"debug","z":"ea2de314.e1bb18","name":"","active":true,"console":"false","complete":"payload.ep","x":972.2699584960938,"y":276.73748779296875,"wires":[]},{"id":"72d21328.efebdc","type":"function","z":"ea2de314.e1bb18","name":"Base64DecodeToValueJSON","func":"// Base64 Support\nvar Base64 = {\n    _keyStr: \"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",\n    encode: function(e) {\n        var t = \"\";\n        var n, r, i, s, o, u, a;\n        var f = 0;\n        e = Base64._utf8_encode(e);\n        while (f < e.length) {\n            n = e.charCodeAt(f++);\n            r = e.charCodeAt(f++);\n            i = e.charCodeAt(f++);\n            s = n >> 2;\n            o = (n & 3) << 4 | r >> 4;\n            u = (r & 15) << 2 | i >> 6;\n            a = i & 63;\n            if (isNaN(r)) {\n                u = a = 64;\n            } else if (isNaN(i)) {\n                a = 64;\n            }\n            t = t + this._keyStr.charAt(s) + this._keyStr.charAt(o) + this._keyStr.charAt(u) + this._keyStr.charAt(a);\n        }\n        return t;\n    },\n    decode: function(e) {\n        var t = \"\";\n        var n, r, i;\n        var s, o, u, a;\n        var f = 0;\n        e = e.replace(/[^A-Za-z0-9+/=]/g, \"\");\n        while (f < e.length) {\n            s = this._keyStr.indexOf(e.charAt(f++));\n            o = this._keyStr.indexOf(e.charAt(f++));\n            u = this._keyStr.indexOf(e.charAt(f++));\n            a = this._keyStr.indexOf(e.charAt(f++));\n            n = s << 2 | o >> 4;\n            r = (o & 15) << 4 | u >> 2;\n            i = (u & 3) << 6 | a;\n            t = t + String.fromCharCode(n);\n            if (u != 64) {\n                t = t + String.fromCharCode(r);\n            }\n            if (a != 64) {\n                t = t + String.fromCharCode(i);\n            }\n        }\n        t = Base64._utf8_decode(t);\n        return t;\n    },\n    _utf8_encode: function(e) {\n        e = e.replace(/rn/g, \"n\");\n        var t = \"\";\n        for (var n = 0; n < e.length; n++) {\n            var r = e.charCodeAt(n);\n            if (r < 128) {\n                t += String.fromCharCode(r);\n            } else if (r > 127 && r < 2048) {\n                t += String.fromCharCode(r >> 6 | 192);\n                t += String.fromCharCode(r & 63 | 128);\n            } else {\n                t += String.fromCharCode(r >> 12 | 224);\n                t += String.fromCharCode(r >> 6 & 63 | 128);\n                t += String.fromCharCode(r & 63 | 128);\n            }\n        }\n        return t;\n    },\n    _utf8_decode: function(e) {\n        var t = \"\";\n        var n = 0;\n        var r, c2;\n        while (n < e.length) {\n            r = e.charCodeAt(n);\n            if (r < 128) {\n                t += String.fromCharCode(r);\n                n++\n            } else if (r > 191 && r < 224) {\n                c2 = e.charCodeAt(n + 1);\n                t += String.fromCharCode((r & 31) << 6 | c2 & 63);\n                n += 2\n            } else {\n                c2 = e.charCodeAt(n + 1);\n                c3 = e.charCodeAt(n + 2);\n                t += String.fromCharCode((r & 15) << 12 | (c2 & 63) << 6 | c3 & 63);\n                n += 3\n            }\n        }\n        return t\n    }\n};\n\nvar json_str = Base64.decode(msg.payload.payload);\nvar json_obj = JSON.parse(json_str);\nreturn {\"value\":json_obj.value};","outputs":1,"noerr":0,"x":514.4004211425781,"y":344.4636535644531,"wires":[["6fae1058.4bb4f"]]},{"id":"c40d49b1.2fb398","type":"inject","z":"ea2de314.e1bb18","name":"Set PAID PARKING","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":269.1784362792969,"y":161.57132720947266,"wires":[["fb5d5d52.3726"]]},{"id":"4773c5f2.8981dc","type":"debug","z":"ea2de314.e1bb18","name":"","active":false,"console":"false","complete":"false","x":964.2140502929688,"y":391.8412780761719,"wires":[]},{"id":"d5093aa3.a780f8","type":"inject","z":"ea2de314.e1bb18","name":"Add To Parking Time","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":216.07138061523438,"y":499.1271667480469,"wires":[["e452a4f0.08aa08"]]},{"id":"fc2ddc5f.7c28","type":"http in","z":"ea2de314.e1bb18","name":"Free Parking","url":"/freePARKING_METER_ID_GOES_HERE","method":"post","swaggerDoc":"","x":88.38885498046875,"y":46.25,"wires":[["1eceedea.b394d2","c8065c86.b1086"]]},{"id":"1eceedea.b394d2","type":"http response","z":"ea2de314.e1bb18","name":"","x":415.38885498046875,"y":41,"wires":[]},{"id":"319ecdee.98fdb2","type":"http in","z":"ea2de314.e1bb18","name":"Paid Parking","url":"/paidPARKING_METER_ID_GOES_HERE","method":"post","swaggerDoc":"","x":89.88885498046875,"y":114,"wires":[["50628689.7970d8","fb5d5d52.3726"]]},{"id":"50628689.7970d8","type":"http response","z":"ea2de314.e1bb18","name":"","x":403.88885498046875,"y":107.75,"wires":[]},{"id":"a8b53ef.503dfc","type":"http in","z":"ea2de314.e1bb18","name":"Start Parking","url":"/startPARKING_METER_ID_GOES_HERE","method":"post","swaggerDoc":"","x":87.88885498046875,"y":192,"wires":[["bc743403.0dce48","3e7d319d.a589ee","f90faee5.37d68","ef7887c9.2630e8"]]},{"id":"bc743403.0dce48","type":"http response","z":"ea2de314.e1bb18","name":"","x":403.88885498046875,"y":193.75,"wires":[]},{"id":"410a17d7.e4f608","type":"debug","z":"ea2de314.e1bb18","name":"","active":true,"console":"false","complete":"false","x":960.3888549804688,"y":176,"wires":[]},{"id":"bab85360.6ac5d","type":"inject","z":"ea2de314.e1bb18","name":"Start 60 second Parking Test","topic":"","payload":"{\"timestamp\": \"Tue Feb 07 2017 09:55:22 GMT-0600 (CST)\", \"meterid\": \"PARKING_METER_ID_GOES_HERE\", \"parking_time\": \"60\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":163,"y":242,"wires":[["3e7d319d.a589ee","ef7887c9.2630e8"]]},{"id":"3e7d319d.a589ee","type":"function","z":"ea2de314.e1bb18","name":"Create Parking Time JSON","func":"// Endpoint Name\nvar endpoint_name = \"MBED_ENDPOINT_NAME_GOES_HERE\";\n\n// Set this fudge factor if the network is super slow\nvar enable_fudge = false;\nvar fudge_parking_time = 3;\n\n// Base64 Support\nvar Base64 = {\n    _keyStr: \"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",\n    encode: function(e) {\n        var t = \"\";\n        var n, r, i, s, o, u, a;\n        var f = 0;\n        e = Base64._utf8_encode(e);\n        while (f < e.length) {\n            n = e.charCodeAt(f++);\n            r = e.charCodeAt(f++);\n            i = e.charCodeAt(f++);\n            s = n >> 2;\n            o = (n & 3) << 4 | r >> 4;\n            u = (r & 15) << 2 | i >> 6;\n            a = i & 63;\n            if (isNaN(r)) {\n                u = a = 64\n            } else if (isNaN(i)) {\n                a = 64\n            }\n            t = t + this._keyStr.charAt(s) + this._keyStr.charAt(o) + this._keyStr.charAt(u) + this._keyStr.charAt(a)\n        }\n        return t\n    },\n    decode: function(e) {\n        var t = \"\";\n        var n, r, i;\n        var s, o, u, a;\n        var f = 0;\n        e = e.replace(/[^A-Za-z0-9+/=]/g, \"\");\n        while (f < e.length) {\n            s = this._keyStr.indexOf(e.charAt(f++));\n            o = this._keyStr.indexOf(e.charAt(f++));\n            u = this._keyStr.indexOf(e.charAt(f++));\n            a = this._keyStr.indexOf(e.charAt(f++));\n            n = s << 2 | o >> 4;\n            r = (o & 15) << 4 | u >> 2;\n            i = (u & 3) << 6 | a;\n            t = t + String.fromCharCode(n);\n            if (u != 64) {\n                t = t + String.fromCharCode(r)\n            }\n            if (a != 64) {\n                t = t + String.fromCharCode(i)\n            }\n        }\n        t = Base64._utf8_decode(t);\n        return t\n    },\n    _utf8_encode: function(e) {\n        e = e.replace(/rn/g, \"n\");\n        var t = \"\";\n        for (var n = 0; n < e.length; n++) {\n            var r = e.charCodeAt(n);\n            if (r < 128) {\n                t += String.fromCharCode(r)\n            } else if (r > 127 && r < 2048) {\n                t += String.fromCharCode(r >> 6 | 192);\n                t += String.fromCharCode(r & 63 | 128)\n            } else {\n                t += String.fromCharCode(r >> 12 | 224);\n                t += String.fromCharCode(r >> 6 & 63 | 128);\n                t += String.fromCharCode(r & 63 | 128)\n            }\n        }\n        return t\n    },\n    _utf8_decode: function(e) {\n        var t = \"\";\n        var n = 0;\n        var r, c2;\n        while (n < e.length) {\n            r = e.charCodeAt(n);\n            if (r < 128) {\n                t += String.fromCharCode(r);\n                n++\n            } else if (r > 191 && r < 224) {\n                c2 = e.charCodeAt(n + 1);\n                t += String.fromCharCode((r & 31) << 6 | c2 & 63);\n                n += 2\n            } else {\n                c2 = e.charCodeAt(n + 1);\n                c3 = e.charCodeAt(n + 2);\n                t += String.fromCharCode((r & 15) << 12 | (c2 & 63) << 6 | c3 & 63);\n                n += 3\n            }\n        }\n        return t\n    }\n};\n\n// if we get garbage in... lets set it to a specific value\nvar input_parking_time = 42;\n\n// convert the input string to a JSON object\nvar input_json = JSON.parse(msg.payload);\n\n// if we have a valid parking time number... use it...\nif (isNaN(Number(input_json.parking_time)) === false) {\n    input_parking_time = Number(input_json.parking_time);\n}\nelse {\n    // otherwise trap and let the default parking number remain\n    enable_fudge = false;\n}\n\n// update our fudge factor for now... we should have better sync between the webapp and the endpoint\nif (enable_fudge === true) {\n    if (input_parking_time >= 60) fudge_parking_time += 9;\n    else if (input_parking_time >= 50) fudge_parking_time += 8;\n    else if (input_parking_time >= 40) fudge_parking_time += 7;\n    else if (input_parking_time >= 30) fudge_parking_time += 5;\n    else if (input_parking_time >= 20) fudge_parking_time += 1;\n    \n    // update the fudge parking time\n    input_parking_time = input_parking_time - fudge_parking_time;\n}\n\n// create the command JSON\nvar parking_time_json = \"{\\\"value\\\":\";\nvar parking_time_json_1 = parking_time_json.concat(input_parking_time);\nvar parking_time_json_2 = parking_time_json_1.concat(\",\\\"cmd\\\":\\\"set\\\",\\\"auth\\\":\\\"arm1234\\\"}\");\nvar parking_time_json_b64 = Base64.encode(parking_time_json_2);\nvar payload = \"{ \\\"resourceId\\\":\\\"100/0/1\\\", \\\"payload\\\":\\\"\";\nvar payload_1 = payload.concat(parking_time_json_b64);\nvar payload_2 = payload_1.concat(\"\\\", \\\"deviceId\\\":\\\"\");\nvar payload_3 = payload_2.concat(endpoint_name);\nvar payload_4 = payload_3.concat(\"\\\", \\\"method\\\":\\\"PUT\\\" }\");\n\n// initialize our message as an empty one\nmsg = {};\n\n// assign and return the JSON\nmsg.payload = payload_4;\nreturn msg;","outputs":1,"noerr":0,"x":516.2026977539062,"y":234.3653564453125,"wires":[["f0e0ae9f.76f48","410a17d7.e4f608"]]},{"id":"20c9e446.f4656c","type":"ibmiot out","z":"ea2de314.e1bb18","authentication":"apiKey","apiKey":"23538f2e.f98a6","outputType":"cmd","deviceId":"PARKING_METER_ID_GOES_HERE","deviceType":"bridge","eventCommandType":"start","format":"json","data":"0","qos":0,"name":"ARM Marketing Bridge","service":"registered","x":983,"y":29,"wires":[]},{"id":"f90faee5.37d68","type":"debug","z":"ea2de314.e1bb18","name":"","active":true,"console":"false","complete":"false","x":249,"y":280,"wires":[]},{"id":"ef7887c9.2630e8","type":"function","z":"ea2de314.e1bb18","name":"Convert JSON Object to JSON String","func":"var str_payload = JSON.stringify(msg.payload);\nmsg = {};\nmsg.payload = str_payload;\nreturn msg;","outputs":1,"noerr":0,"x":614,"y":121,"wires":[["20c9e446.f4656c"]]},{"id":"abcb7093.6f029","type":"ibmiot","z":"","name":"My Watson IoT Key","keepalive":"60","cleansession":true,"appId":"","shared":false},{"id":"23538f2e.f98a6","type":"ibmiot","z":"","name":"ARM Marketing ","keepalive":"60","cleansession":true,"appId":"","shared":false}]
