NODEFLOW-prod-pm1.txt
[{"id":"39ba9aa9.4d8dd6","type":"ibmiot","z":"652f38b.2da55c8","name":"MyWatsonIoT"},{"id":"dd48a52c.6bcfb","type":"ibmiot in","z":"652f38b.2da55c8","authentication":"apiKey","apiKey":"39ba9aa9.4d8dd6","inputType":"evt","deviceId":"86f2d3b8-860e-48e4-9db8-00b13f5f85cc","applicationId":"","deviceType":"parking-meter","eventType":"observation","commandType":"","format":"json","name":"parking meter command responses","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"x":188.75009155273438,"y":565.0989379882812,"wires":[["124d4c6b.a7cfe4"]]},{"id":"8b3e6d18.4825d","type":"template","z":"652f38b.2da55c8","name":"Set Parking Time to 60 seconds","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"100/0/1\", \"payload\":\"eyJ2YWx1ZSI6NjAsImNtZCI6InNldCIsImF1dGgiOiJhcm0xMjM0In0=\", \"deviceId\":\"86f2d3b8-860e-48e4-9db8-00b13f5f85cc\", \"method\":\"PUT\" }","x":548.3331298828125,"y":314.65067291259766,"wires":[["44b459ca.4f1ab8"]]},{"id":"1125dd8c.96510a","type":"inject","z":"652f38b.2da55c8","name":"Start Parking Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":230.43624877929688,"y":315.4561462402344,"wires":[["8b3e6d18.4825d"]]},{"id":"124d4c6b.a7cfe4","type":"switch","z":"652f38b.2da55c8","name":"Is it the parking meter time value?","property":"payload.path","propertyType":"msg","rules":[{"t":"eq","v":"/100/0/1","vt":"str"}],"checkall":"true","outputs":1,"x":178.92868041992188,"y":413.4720458984375,"wires":[["2b5b2a6f.81d076"]]},{"id":"8b120815.b4b2b8","type":"template","z":"652f38b.2da55c8","name":"Start Parking Countdown","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"100/0/1\", \"payload\":\"eyJjbWQiOiJzdGFydCIsImF1dGgiOiJhcm0xMjM0In0=\", \"deviceId\":\"86f2d3b8-860e-48e4-9db8-00b13f5f85cc\", \"method\":\"PUT\" }","x":703.0556030273438,"y":493.0951232910156,"wires":[["4faaebd6.2df3f4","96d25d3a.dde3d8","44b459ca.4f1ab8"]]},{"id":"7a64ec8a.abe45c","type":"switch","z":"652f38b.2da55c8","name":"Did parking time just get set to 60 seconds?","property":"value","propertyType":"msg","rules":[{"t":"eq","v":"60","vt":"num"}],"checkall":"true","outputs":1,"x":394.6629638671875,"y":493.09497833251953,"wires":[["8b120815.b4b2b8"]]},{"id":"2875737.4cea68c","type":"switch","z":"652f38b.2da55c8","name":"Did parking time just expire?","property":"value","propertyType":"msg","rules":[{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":777.2818603515625,"y":416.2499771118164,"wires":[["96d25d3a.dde3d8"]]},{"id":"44b459ca.4f1ab8","type":"ibmiot out","z":"652f38b.2da55c8","authentication":"apiKey","apiKey":"39ba9aa9.4d8dd6","outputType":"cmd","deviceId":"86f2d3b8-860e-48e4-9db8-00b13f5f85cc","deviceType":"parking-meter","eventCommandType":"put","format":"json","data":"0","name":"set parking meter resource value (PUT)","service":"registered","x":1299.9600219726562,"y":307.7379379272461,"wires":[]},{"id":"2af326d3.09eaf2","type":"template","z":"652f38b.2da55c8","name":"Beacon ON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"200/0/1\", \"payload\":\"MQ==\", \"deviceId\":\"86f2d3b8-860e-48e4-9db8-00b13f5f85cc\", \"method\":\"PUT\" }","x":481.84552001953125,"y":205.71432495117188,"wires":[["44b459ca.4f1ab8"]]},{"id":"cd0bc9a3.dc4d88","type":"template","z":"652f38b.2da55c8","name":"Beacon OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"200/0/1\", \"payload\":\"MA==\", \"deviceId\":\"86f2d3b8-860e-48e4-9db8-00b13f5f85cc\", \"method\":\"PUT\" }","x":481.30963134765625,"y":117.14289855957031,"wires":[["44b459ca.4f1ab8"]]},{"id":"4d6cfd7e.5606ac","type":"inject","z":"652f38b.2da55c8","name":"Set FREE PARKING","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":224.84136962890625,"y":116.51992797851562,"wires":[["cd0bc9a3.dc4d88"]]},{"id":"4faaebd6.2df3f4","type":"trigger","z":"652f38b.2da55c8","op1":"1","op2":"0","op1type":"nul","op2type":"pay","duration":"12","extend":false,"units":"s","reset":"","name":"Wait for 12 seconds","x":691.9365234375,"y":553.7379760742188,"wires":[["f072bf16.1fcd"]]},{"id":"f072bf16.1fcd","type":"template","z":"652f38b.2da55c8","name":"Add 12 seconds to the current Parking Time","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"100/0/1\", \"payload\":\"eyJ2YWx1ZSI6MTIsImNtZCI6InVwZGF0ZSIsImF1dGgiOiJhcm0xMjM0In0=\", \"deviceId\":\"86f2d3b8-860e-48e4-9db8-00b13f5f85cc\", \"method\":\"PUT\" }","x":1004.0318603515625,"y":553.8331298828125,"wires":[["44b459ca.4f1ab8","96d25d3a.dde3d8"]]},{"id":"96d25d3a.dde3d8","type":"debug","z":"652f38b.2da55c8","name":"","active":true,"console":"false","complete":"payload","x":1339.6627807617188,"y":411.5590286254883,"wires":[]},{"id":"2b5b2a6f.81d076","type":"function","z":"652f38b.2da55c8","name":"Base64DecodeToValueJSON","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/[^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/rn/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}}\nvar json_str = Base64.decode(msg.payload.payload);\nvar json_obj = JSON.parse(json_str);\nreturn {\"value\":json_obj.value};","outputs":1,"noerr":0,"x":463.6505126953125,"y":414.28516387939453,"wires":[["7a64ec8a.abe45c","2875737.4cea68c"]]},{"id":"52432733.c25928","type":"inject","z":"652f38b.2da55c8","name":"Set PAID PARKING","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":225,"y":206.24996948242188,"wires":[["2af326d3.09eaf2"]]}]
