NODEFLOW-test.txt
[{"id":"39ba9aa9.4d8dd6","type":"ibmiot","z":"652f38b.2da55c8","name":"MyWatsonIoT"},{"id":"6325887e.342738","type":"ibmiot in","z":"652f38b.2da55c8","authentication":"apiKey","apiKey":"39ba9aa9.4d8dd6","inputType":"evt","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","applicationId":"","deviceType":"parking-meter","eventType":"observation","commandType":"","format":"json","name":"parking meter command responses","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"x":183.4328956604004,"y":589.9803695678711,"wires":[["7c4e6640.127e98","ce0512d7.8e54c"]]},{"id":"7c4e6640.127e98","type":"debug","z":"652f38b.2da55c8","name":"","active":true,"console":"false","complete":"payload.d.value","x":1075.6590576171875,"y":588.5716552734375,"wires":[]},{"id":"e425639b.56317","type":"template","z":"652f38b.2da55c8","name":"Set Parking Time to 60 seconds","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"/100/0/1\", \"payload\":\"eyJ2YWx1ZSI6NjAsImNtZCI6InNldCIsImF1dGgiOiJhcm0xMjM0In0=\", \"deviceId\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"method\":\"put\" }","x":500.93255615234375,"y":229.1152801513672,"wires":[["551979bf.27e1f8"]]},{"id":"d2057784.8c0a38","type":"inject","z":"652f38b.2da55c8","name":"Start Parking Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":159.28567504882812,"y":229.92076873779297,"wires":[["e425639b.56317"]]},{"id":"ce0512d7.8e54c","type":"switch","z":"652f38b.2da55c8","name":"Is it the parking meter time value?","property":"payload.d.path","propertyType":"msg","rules":[{"t":"eq","v":"/100/0/1","vt":"str"}],"checkall":"true","outputs":1,"x":183.61148071289062,"y":400.02010345458984,"wires":[["b0cba675.692168","cb14ccff.10b2b"]]},{"id":"96558b46.989e28","type":"ibmiot out","z":"652f38b.2da55c8","authentication":"apiKey","apiKey":"39ba9aa9.4d8dd6","outputType":"cmd","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","deviceType":"parking-meter","eventCommandType":"post","format":"json","data":"0","name":"initiate parking meter countdown (POST)","service":"registered","x":1105.0006713867188,"y":304.1072006225586,"wires":[]},{"id":"cafb260b.ecee28","type":"template","z":"652f38b.2da55c8","name":"Start Parking Countdown","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"/100/0/1\", \"payload\":\"YXJtMTIzNA==\", \"deviceId\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"method\":\"post\", \"options\":\"noResp=true\" }","x":741.07177734375,"y":469.64318084716797,"wires":[["96558b46.989e28","ad630fdd.d3314","5aa184ea.ef2c2c"]]},{"id":"b0cba675.692168","type":"switch","z":"652f38b.2da55c8","name":"Did parking time just get set to 60 seconds?","property":"payload.d.value.value","propertyType":"msg","rules":[{"t":"eq","v":"60","vt":"num"}],"checkall":"true","outputs":1,"x":422.6791687011719,"y":469.6430892944336,"wires":[["cafb260b.ecee28"]]},{"id":"cb14ccff.10b2b","type":"switch","z":"652f38b.2da55c8","name":"Did parking time just expire?","property":"payload.d.value","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":495.714599609375,"y":400.7146224975586,"wires":[["e438f7e.0ebc608","5aa184ea.ef2c2c"]]},{"id":"551979bf.27e1f8","type":"ibmiot out","z":"652f38b.2da55c8","authentication":"apiKey","apiKey":"39ba9aa9.4d8dd6","outputType":"cmd","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","deviceType":"parking-meter","eventCommandType":"put","format":"json","data":"0","name":"set parking meter resource value (PUT)","service":"registered","x":1115.8927612304688,"y":230.53588104248047,"wires":[]},{"id":"9faae002.85fa6","type":"template","z":"652f38b.2da55c8","name":"Beacon ON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"/200/0/1\", \"payload\":\"MQ==\", \"devcieId\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"method\":\"put\" }","x":964.861572265625,"y":130.17897033691406,"wires":[["551979bf.27e1f8","df226a42.e504e8"]]},{"id":"9c251f63.6a348","type":"template","z":"652f38b.2da55c8","name":"Beacon OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"/200/0/1\", \"payload\":\"MA==\", \"deviceId\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"method\":\"put\" }","x":480.5756530761719,"y":130.35751342773438,"wires":[["551979bf.27e1f8","13bc3424.cdaf3c","df226a42.e504e8"]]},{"id":"98e318f2.038b28","type":"inject","z":"652f38b.2da55c8","name":"Turn BLE Beacon OFF","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":235.35739135742188,"y":130.98452758789062,"wires":[["9c251f63.6a348"]]},{"id":"e438f7e.0ebc608","type":"template","z":"652f38b.2da55c8","name":"de-registration command","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"/86/0/1\", \"payload\":\"YXJtMTIzNA==\", \"deviceId\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"method\":\"post\", \"options\":\"noResp=true\" }","x":536.4290161132812,"y":307.32154083251953,"wires":[["96558b46.989e28","5aa184ea.ef2c2c"]]},{"id":"eeb6773b.4aeb88","type":"inject","z":"652f38b.2da55c8","name":"de-register device","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":214.24624633789062,"y":308.3056411743164,"wires":[["e438f7e.0ebc608"]]},{"id":"13bc3424.cdaf3c","type":"trigger","z":"652f38b.2da55c8","op1":"1","op2":"0","op1type":"nul","op2type":"pay","duration":"10","extend":false,"units":"s","reset":"","name":"Wait for 10 seconds","x":758.6607666015625,"y":130.17886352539062,"wires":[["9faae002.85fa6"]]},{"id":"ad630fdd.d3314","type":"trigger","z":"652f38b.2da55c8","op1":"1","op2":"0","op1type":"nul","op2type":"pay","duration":"12","extend":false,"units":"s","reset":"","name":"Wait for 12 seconds","x":883.2859497070312,"y":540.2860641479492,"wires":[["f091d693.9cee88"]]},{"id":"f091d693.9cee88","type":"template","z":"652f38b.2da55c8","name":"Add 12 seconds to the current Parking Time","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"/100/0/1\", \"payload\":\"eyJ2YWx1ZSI6MTIsImNtZCI6InVwZGF0ZSIsImF1dGgiOiJhcm0xMjM0In0=\", \"deviceId\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"method\":\"put\" }","x":1088.7146606445312,"y":468.71459197998047,"wires":[["551979bf.27e1f8"]]},{"id":"5aa184ea.ef2c2c","type":"debug","z":"652f38b.2da55c8","name":"","active":true,"console":"false","complete":"payload","x":1061.4290771484375,"y":406.85723876953125,"wires":[]},{"id":"df226a42.e504e8","type":"debug","z":"652f38b.2da55c8","name":"","active":false,"console":"false","complete":"payload","x":971.285888671875,"y":59.571739196777344,"wires":[]}]
