NODEFLOW-prod.txt
[{"id":"c52d5d59.c09b","type":"ibmiot","z":"844c300b.c833d","name":"MyWatsonIoT"},{"id":"f6e758bf.9682b","type":"ibmiot in","z":"844c300b.c833d","authentication":"apiKey","apiKey":"c52d5d59.c09b","inputType":"evt","deviceId":"MBED_ENDPOINT_NAME_GOES_HERE","applicationId":"","deviceType":"parking-meter","eventType":"notify","commandType":"","format":"json","name":"parking meter command responses","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":false,"x":293.75,"y":418.2218704223633,"wires":[["414f8a60.775d6c"]]},{"id":"1ee485b6.4c581a","type":"template","z":"844c300b.c833d","name":"Set Parking Time to 60 seconds","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"100/0/1\", \"payload\":\"eyJ2YWx1ZSI6NjAsImNtZCI6InNldCIsImF1dGgiOiJhcm0xMjM0In0=\", \"deviceId\":\"MBED_ENDPOINT_NAME_GOES_HERE\", \"method\":\"PUT\" }","x":653.3330383300781,"y":167.7736053466797,"wires":[["b79aa046.cde0f8"]]},{"id":"8b659528.413448","type":"inject","z":"844c300b.c833d","name":"Start Parking Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":335.4361572265625,"y":168.5790786743164,"wires":[["1ee485b6.4c581a"]]},{"id":"414f8a60.775d6c","type":"switch","z":"844c300b.c833d","name":"Is it the parking meter time value?","property":"payload.path","propertyType":"msg","rules":[{"t":"eq","v":"/100/0/1","vt":"str"}],"checkall":"true","outputs":1,"x":283.9285888671875,"y":266.59497833251953,"wires":[["f22f2203.9c518","535fbfb8.9a3e4"]]},{"id":"25536c0c.ca8444","type":"template","z":"844c300b.c833d","name":"Start Parking Countdown","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"100/0/1\", \"payload\":\"eyJjbWQiOiJzdGFydCIsImF1dGgiOiJhcm0xMjM0In0=\", \"deviceId\":\"MBED_ENDPOINT_NAME_GOES_HERE\", \"method\":\"PUT\" }","x":808.0555114746094,"y":346.21805572509766,"wires":[["b79aa046.cde0f8","9e1a9ff4.704fd8"]]},{"id":"7416f0b5.cb8e9","type":"switch","z":"844c300b.c833d","name":"Did parking time just get set to 60 seconds?","property":"value","propertyType":"msg","rules":[{"t":"eq","v":"60","vt":"num"}],"checkall":"true","outputs":1,"x":499.6628723144531,"y":346.21791076660156,"wires":[["25536c0c.ca8444"]]},{"id":"535fbfb8.9a3e4","type":"switch","z":"844c300b.c833d","name":"Did parking time just expire?","property":"payload.payload","propertyType":"msg","rules":[{"t":"eq","v":"MA==","vt":"str"}],"checkall":"true","outputs":1,"x":795.1390075683594,"y":222.22999572753906,"wires":[["8a876e5e.2d0598"]]},{"id":"b79aa046.cde0f8","type":"ibmiot out","z":"844c300b.c833d","authentication":"apiKey","apiKey":"c52d5d59.c09b","outputType":"cmd","deviceId":"MBED_ENDPOINT_NAME_GOES_HERE","deviceType":"parking-meter","eventCommandType":"put","format":"json","data":"0","name":"set parking meter resource value (PUT)","service":"registered","x":1239.2456970214844,"y":236.57508850097656,"wires":[]},{"id":"f7b945b5.c015d8","type":"template","z":"844c300b.c833d","name":"Beacon ON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"200/0/1\", \"payload\":\"MQ==\", \"deviceId\":\"MBED_ENDPOINT_NAME_GOES_HERE\", \"method\":\"PUT\" }","x":588.2739562988281,"y":105.98011779785156,"wires":[["b79aa046.cde0f8"]]},{"id":"1edeb384.db3e4c","type":"template","z":"844c300b.c833d","name":"Beacon OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"200/0/1\", \"payload\":\"MA==\", \"deviceId\":\"MBED_ENDPOINT_NAME_GOES_HERE\", \"method\":\"PUT\" }","x":586.3095397949219,"y":53.12297058105469,"wires":[["b79aa046.cde0f8"]]},{"id":"12b5c8e9.3c02e7","type":"inject","z":"844c300b.c833d","name":"Set FREE PARKING","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":329.8412780761719,"y":52.5,"wires":[["1edeb384.db3e4c"]]},{"id":"2fb08115.e474c6","type":"template","z":"844c300b.c833d","name":"Add 12 seconds to the current Parking Time","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"100/0/1\", \"payload\":\"eyJ2YWx1ZSI6MTIsImNtZCI6InVwZGF0ZSIsImF1dGgiOiJhcm0xMjM0In0=\", \"deviceId\":\"MBED_ENDPOINT_NAME_GOES_HERE\", \"method\":\"PUT\" }","x":646.1747741699219,"y":481.2418975830078,"wires":[["b79aa046.cde0f8"]]},{"id":"8a876e5e.2d0598","type":"debug","z":"844c300b.c833d","name":"","active":true,"console":"false","complete":"payload.ep","x":857.5199890136719,"y":274.6819305419922,"wires":[]},{"id":"f22f2203.9c518","type":"function","z":"844c300b.c833d","name":"Base64DecodeToValueJSON","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/[^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/rn/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}}\nvar json_str = Base64.decode(msg.payload.payload);\nvar json_obj = JSON.parse(json_str);\nreturn {\"value\":json_obj.value};","outputs":1,"noerr":0,"x":568.6504211425781,"y":267.40809631347656,"wires":[["7416f0b5.cb8e9"]]},{"id":"91583ef7.14fc9","type":"inject","z":"844c300b.c833d","name":"Set PAID PARKING","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":331.4284362792969,"y":106.51576232910156,"wires":[["f7b945b5.c015d8"]]},{"id":"9e1a9ff4.704fd8","type":"debug","z":"844c300b.c833d","name":"","active":false,"console":"false","complete":"false","x":769.4640808105469,"y":416.7857208251953,"wires":[]},{"id":"8ebf13bc.89a83","type":"inject","z":"844c300b.c833d","name":"Add To Parking Time","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":322.3213806152344,"y":481.0716094970703,"wires":[["2fb08115.e474c6"]]}]
