NODEFLOW-prod-pm1.txt
[{"id":"39ba9aa9.4d8dd6","type":"ibmiot","z":"652f38b.2da55c8","name":"MyWatsonIoT"},{"id":"337f2e62.d431ea","type":"ibmiot in","z":"652f38b.2da55c8","authentication":"apiKey","apiKey":"39ba9aa9.4d8dd6","inputType":"evt","deviceId":"86f2d3b8-860e-48e4-9db8-00b13f5f85cc","applicationId":"","deviceType":"parking-meter","eventType":"observation","commandType":"","format":"json","name":"parking meter command responses","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"x":212.85733032226562,"y":438.57897186279297,"wires":[["48c797ec.3377a"]]},{"id":"99095485.d45b78","type":"template","z":"652f38b.2da55c8","name":"Set Parking Time to 60 seconds","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"100/0/1\", \"payload\":\"eyJ2YWx1ZSI6NjAsImNtZCI6InNldCIsImF1dGgiOiJhcm0xMjM0In0=\", \"deviceId\":\"86f2d3b8-860e-48e4-9db8-00b13f5f85cc\", \"method\":\"PUT\" }","x":572.4403686523438,"y":188.13070678710938,"wires":[["f0c7cb0e.7b2148"]]},{"id":"b60746dc.74e65","type":"inject","z":"652f38b.2da55c8","name":"Start Parking Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":254.54348754882812,"y":188.9361801147461,"wires":[["99095485.d45b78"]]},{"id":"48c797ec.3377a","type":"switch","z":"652f38b.2da55c8","name":"Is it the parking meter time value?","property":"payload.path","propertyType":"msg","rules":[{"t":"eq","v":"/100/0/1","vt":"str"}],"checkall":"true","outputs":1,"x":203.03591918945312,"y":286.9520797729492,"wires":[["10e31a40.e1c44e","3b0d2b0b.82e95c"]]},{"id":"ff585510.b7c3d8","type":"template","z":"652f38b.2da55c8","name":"Start Parking Countdown","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"100/0/1\", \"payload\":\"eyJjbWQiOiJzdGFydCIsImF1dGgiOiJhcm0xMjM0In0=\", \"deviceId\":\"86f2d3b8-860e-48e4-9db8-00b13f5f85cc\", \"method\":\"PUT\" }","x":727.162841796875,"y":366.57515716552734,"wires":[["f0c7cb0e.7b2148","360c47a3.8ec48"]]},{"id":"bfea5535.6457a","type":"switch","z":"652f38b.2da55c8","name":"Did parking time just get set to 60 seconds?","property":"value","propertyType":"msg","rules":[{"t":"eq","v":"60","vt":"num"}],"checkall":"true","outputs":1,"x":418.77020263671875,"y":366.57501220703125,"wires":[["ff585510.b7c3d8"]]},{"id":"3b0d2b0b.82e95c","type":"switch","z":"652f38b.2da55c8","name":"Did parking time just expire?","property":"payload.payload","propertyType":"msg","rules":[{"t":"eq","v":"MA==","vt":"str"}],"checkall":"true","outputs":1,"x":714.246337890625,"y":242.58709716796875,"wires":[["c3e1dae6.ea6038"]]},{"id":"f0c7cb0e.7b2148","type":"ibmiot out","z":"652f38b.2da55c8","authentication":"apiKey","apiKey":"39ba9aa9.4d8dd6","outputType":"cmd","deviceId":"86f2d3b8-860e-48e4-9db8-00b13f5f85cc","deviceType":"parking-meter","eventCommandType":"put","format":"json","data":"0","name":"set parking meter resource value (PUT)","service":"registered","x":1158.35302734375,"y":256.93218994140625,"wires":[]},{"id":"34ca555d.9f26d2","type":"template","z":"652f38b.2da55c8","name":"Beacon ON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"200/0/1\", \"payload\":\"MQ==\", \"deviceId\":\"86f2d3b8-860e-48e4-9db8-00b13f5f85cc\", \"method\":\"PUT\" }","x":507.38128662109375,"y":126.33721923828125,"wires":[["f0c7cb0e.7b2148"]]},{"id":"be3efb88.b4889","type":"template","z":"652f38b.2da55c8","name":"Beacon OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"200/0/1\", \"payload\":\"MA==\", \"deviceId\":\"86f2d3b8-860e-48e4-9db8-00b13f5f85cc\", \"method\":\"PUT\" }","x":505.4168701171875,"y":73.48007202148438,"wires":[["f0c7cb0e.7b2148"]]},{"id":"da9210b9.6d6b6","type":"inject","z":"652f38b.2da55c8","name":"Set FREE PARKING","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":248.9486083984375,"y":72.85710144042969,"wires":[["be3efb88.b4889"]]},{"id":"d63e02c5.0a36c8","type":"template","z":"652f38b.2da55c8","name":"Add 12 seconds to the current Parking Time","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"100/0/1\", \"payload\":\"eyJ2YWx1ZSI6MTIsImNtZCI6InVwZGF0ZSIsImF1dGgiOiJhcm0xMjM0In0=\", \"deviceId\":\"86f2d3b8-860e-48e4-9db8-00b13f5f85cc\", \"method\":\"PUT\" }","x":565.2821044921875,"y":501.5989990234375,"wires":[["f0c7cb0e.7b2148"]]},{"id":"c3e1dae6.ea6038","type":"debug","z":"652f38b.2da55c8","name":"","active":true,"console":"false","complete":"payload.ep","x":776.6273193359375,"y":295.0390319824219,"wires":[]},{"id":"10e31a40.e1c44e","type":"function","z":"652f38b.2da55c8","name":"Base64DecodeToValueJSON","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/[^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/rn/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}}\nvar json_str = Base64.decode(msg.payload.payload);\nvar json_obj = JSON.parse(json_str);\nreturn {\"value\":json_obj.value};","outputs":1,"noerr":0,"x":487.75775146484375,"y":287.76519775390625,"wires":[["bfea5535.6457a"]]},{"id":"d80b8492.4391a8","type":"inject","z":"652f38b.2da55c8","name":"Set PAID PARKING","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":250.5357666015625,"y":126.87286376953125,"wires":[["34ca555d.9f26d2"]]},{"id":"360c47a3.8ec48","type":"debug","z":"652f38b.2da55c8","name":"","active":true,"console":"false","complete":"false","x":688.5714111328125,"y":437.142822265625,"wires":[]},{"id":"f9953cbe.fc49f8","type":"inject","z":"652f38b.2da55c8","name":"Add To Parking Time","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":241.4287109375,"y":501.4287109375,"wires":[["d63e02c5.0a36c8"]]}]
