NODEFLOW-proto-pm2.txt
[{"id":"72193210.33b494","type":"ibmiot","z":"a6e4cae5.c26038","name":"MyWatsonIoT"},{"id":"39f657a6.fdbdb","type":"ibmiot in","z":"a6e4cae5.c26038","authentication":"apiKey","apiKey":"72193210.33b494","inputType":"evt","deviceId":"2d0e46c3-7643-471c-a386-ded82bf7fa1c","applicationId":"","deviceType":"parking-meter","eventType":"observation","commandType":"","format":"json","name":"parking meter command responses","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":false,"x":242.48053359985352,"y":620.4086303710938,"wires":[["d20546ef.81061","3e5b42a2.88f95e"]]},{"id":"d20546ef.81061","type":"debug","z":"a6e4cae5.c26038","name":"","active":true,"console":"false","complete":"payload.d.value","x":1134.7066955566406,"y":618.9999160766602,"wires":[]},{"id":"43472311.6f271c","type":"template","z":"a6e4cae5.c26038","name":"Set Parking Time to 60 seconds","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"/100/0/1\", \"payload\":\"eyJ2YWx1ZSI6NjAsImNtZCI6InNldCIsImF1dGgiOiJhcm0xMjM0In0=\", \"deviceId\":\"2d0e46c3-7643-471c-a386-ded82bf7fa1c\", \"method\":\"put\" }","x":559.9801940917969,"y":259.54354095458984,"wires":[["4fa2aa93.1b21b4"]]},{"id":"fa354b77.8105","type":"inject","z":"a6e4cae5.c26038","name":"Start Parking Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":218.33331298828125,"y":260.3490295410156,"wires":[["43472311.6f271c"]]},{"id":"3e5b42a2.88f95e","type":"switch","z":"a6e4cae5.c26038","name":"Is it the parking meter time value?","property":"payload.d.path","propertyType":"msg","rules":[{"t":"eq","v":"/100/0/1","vt":"str"}],"checkall":"true","outputs":1,"x":242.65911865234375,"y":430.4483642578125,"wires":[["24729193.9288f6","bf6cb1c2.3d8a28"]]},{"id":"63433bc.05ae7c4","type":"ibmiot out","z":"a6e4cae5.c26038","authentication":"apiKey","apiKey":"72193210.33b494","outputType":"cmd","deviceId":"2d0e46c3-7643-471c-a386-ded82bf7fa1c","deviceType":"parking-meter","eventCommandType":"post","format":"json","data":"0","name":"initiate parking meter countdown (POST)","service":"registered","x":1164.0483093261719,"y":334.53546142578125,"wires":[]},{"id":"57494f68.0c1cf","type":"template","z":"a6e4cae5.c26038","name":"Start Parking Countdown","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"/100/0/1\", \"payload\":\"YXJtMTIzNA==\", \"deviceId\":\"2d0e46c3-7643-471c-a386-ded82bf7fa1c\", \"method\":\"post\", \"options\":\"noResp=true\" }","x":800.1194152832031,"y":500.0714416503906,"wires":[["63433bc.05ae7c4","3b0dd0e3.2ab4b8","b66fb484.0303"]]},{"id":"24729193.9288f6","type":"switch","z":"a6e4cae5.c26038","name":"Did parking time just get set to 60 seconds?","property":"payload.d.value.value","propertyType":"msg","rules":[{"t":"eq","v":"60","vt":"num"}],"checkall":"true","outputs":1,"x":481.726806640625,"y":500.07135009765625,"wires":[["57494f68.0c1cf"]]},{"id":"bf6cb1c2.3d8a28","type":"switch","z":"a6e4cae5.c26038","name":"Did parking time just expire?","property":"payload.d.value","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":554.7622375488281,"y":431.14288330078125,"wires":[["666c8054.9a378","b66fb484.0303"]]},{"id":"4fa2aa93.1b21b4","type":"ibmiot out","z":"a6e4cae5.c26038","authentication":"apiKey","apiKey":"72193210.33b494","outputType":"cmd","deviceId":"2d0e46c3-7643-471c-a386-ded82bf7fa1c","deviceType":"parking-meter","eventCommandType":"put","format":"json","data":"0","name":"set parking meter resource value (PUT)","service":"registered","x":1174.9403991699219,"y":260.9641418457031,"wires":[]},{"id":"2cd5b8ca.bf1818","type":"template","z":"a6e4cae5.c26038","name":"Beacon ON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"/200/0/1\", \"payload\":\"MQ==\", \"devcieId\":\"2d0e46c3-7643-471c-a386-ded82bf7fa1c\", \"method\":\"put\" }","x":1023.9092102050781,"y":160.60723114013672,"wires":[["4fa2aa93.1b21b4","a57a01ac.fd8288"]]},{"id":"37bb8153.0ca396","type":"template","z":"a6e4cae5.c26038","name":"Beacon OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"/200/0/1\", \"payload\":\"MA==\", \"deviceId\":\"2d0e46c3-7643-471c-a386-ded82bf7fa1c\", \"method\":\"put\" }","x":539.623291015625,"y":160.78577423095703,"wires":[["4fa2aa93.1b21b4","6d2bfa8.d371884","a57a01ac.fd8288"]]},{"id":"72794719.2d3888","type":"inject","z":"a6e4cae5.c26038","name":"Turn BLE Beacon OFF","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":294.405029296875,"y":161.41278839111328,"wires":[["37bb8153.0ca396"]]},{"id":"666c8054.9a378","type":"template","z":"a6e4cae5.c26038","name":"de-registration command","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"/86/0/1\", \"payload\":\"YXJtMTIzNA==\", \"deviceId\":\"2d0e46c3-7643-471c-a386-ded82bf7fa1c\", \"method\":\"post\", \"options\":\"noResp=true\" }","x":595.4766540527344,"y":337.7498016357422,"wires":[["63433bc.05ae7c4","b66fb484.0303"]]},{"id":"88c3da8b.f0348","type":"inject","z":"a6e4cae5.c26038","name":"de-register device","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":273.29388427734375,"y":338.73390197753906,"wires":[["666c8054.9a378"]]},{"id":"6d2bfa8.d371884","type":"trigger","z":"a6e4cae5.c26038","op1":"1","op2":"0","op1type":"nul","op2type":"pay","duration":"10","extend":false,"units":"s","reset":"","name":"Wait for 10 seconds","x":817.7084045410156,"y":160.60712432861328,"wires":[["2cd5b8ca.bf1818"]]},{"id":"3b0dd0e3.2ab4b8","type":"trigger","z":"a6e4cae5.c26038","op1":"1","op2":"0","op1type":"nul","op2type":"pay","duration":"12","extend":false,"units":"s","reset":"","name":"Wait for 12 seconds","x":942.3335876464844,"y":570.7143249511719,"wires":[["68b9c9b1.2f4f9"]]},{"id":"68b9c9b1.2f4f9","type":"template","z":"a6e4cae5.c26038","name":"Add 12 seconds to the current Parking Time","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"/100/0/1\", \"payload\":\"eyJ2YWx1ZSI6MTIsImNtZCI6InVwZGF0ZSIsImF1dGgiOiJhcm0xMjM0In0=\", \"deviceId\":\"2d0e46c3-7643-471c-a386-ded82bf7fa1c\", \"method\":\"put\" }","x":1147.7622985839844,"y":499.1428527832031,"wires":[["4fa2aa93.1b21b4"]]},{"id":"b66fb484.0303","type":"debug","z":"a6e4cae5.c26038","name":"","active":true,"console":"false","complete":"payload","x":1120.4767150878906,"y":437.2854995727539,"wires":[]},{"id":"a57a01ac.fd8288","type":"debug","z":"a6e4cae5.c26038","name":"","active":false,"console":"false","complete":"payload","x":1030.3335266113281,"y":90,"wires":[]}]
