NODEFLOW-test.txt
[{"id":"39ba9aa9.4d8dd6","type":"ibmiot","z":"652f38b.2da55c8","name":"MyWatsonIoT"},{"id":"6325887e.342738","type":"ibmiot in","z":"652f38b.2da55c8","authentication":"apiKey","apiKey":"39ba9aa9.4d8dd6","inputType":"evt","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","applicationId":"","deviceType":"parking-meter","eventType":"observation","commandType":"","format":"json","name":"parking meter observations","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":"","x":227.7183723449707,"y":677.1230564117432,"wires":[["7c4e6640.127e98","ce0512d7.8e54c"]]},{"id":"7c4e6640.127e98","type":"debug","z":"652f38b.2da55c8","name":"","active":true,"console":"false","complete":"payload.d.value","x":1007.0874176025391,"y":674.2857761383057,"wires":[]},{"id":"e425639b.56317","type":"template","z":"652f38b.2da55c8","name":"Set Parking Time to 20 seconds","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/100/0/1\", \"new_value\":\"20\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":465.2184257507324,"y":373.4008731842041,"wires":[["551979bf.27e1f8"]]},{"id":"d2057784.8c0a38","type":"inject","z":"652f38b.2da55c8","name":"START TEST","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":127.85723495483398,"y":374.2064266204834,"wires":[["e425639b.56317"]]},{"id":"ce0512d7.8e54c","type":"switch","z":"652f38b.2da55c8","name":"Is the parking meter time value?","property":"payload.d.path","propertyType":"msg","rules":[{"t":"eq","v":"/100/0/1","vt":"str"}],"checkall":"true","outputs":1,"x":286.46833419799805,"y":555.7341976165771,"wires":[["b0cba675.692168","cb14ccff.10b2b"]]},{"id":"96558b46.989e28","type":"ibmiot out","z":"652f38b.2da55c8","authentication":"apiKey","apiKey":"39ba9aa9.4d8dd6","outputType":"cmd","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","deviceType":"parking-meter","eventCommandType":"post","format":"json","data":"0","name":"initiate parking meter countdown (POST)","service":"registered","x":1067.8572540283203,"y":492.6786575317383,"wires":[]},{"id":"cafb260b.ecee28","type":"template","z":"652f38b.2da55c8","name":"Start Parking Countdown","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/100/0/1\", \"new_value\":\"arm1234\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"post\", \"options\":\"noResp=true\" }","x":755.357250213623,"y":493.92865562438965,"wires":[["96558b46.989e28"]]},{"id":"b0cba675.692168","type":"switch","z":"652f38b.2da55c8","name":"Did parking time just get set?","property":"payload.d.value","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":464.10727310180664,"y":493.92865562438965,"wires":[["cafb260b.ecee28"]]},{"id":"cb14ccff.10b2b","type":"switch","z":"652f38b.2da55c8","name":"Did parking time just expire?","property":"payload.d.value","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":462.8572463989258,"y":616.4287185668945,"wires":[["9c251f63.6a348"]]},{"id":"551979bf.27e1f8","type":"ibmiot out","z":"652f38b.2da55c8","authentication":"apiKey","apiKey":"39ba9aa9.4d8dd6","outputType":"cmd","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","deviceType":"parking-meter","eventCommandType":"put","format":"json","data":"0","name":"set parking meter resource value (PUT)","service":"registered","x":1081.6072540283203,"y":247.67865371704102,"wires":[]},{"id":"9faae002.85fa6","type":"template","z":"652f38b.2da55c8","name":"Beacon ON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/200/0/1\", \"new_value\":\"1\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":577.718391418457,"y":190.17864608764648,"wires":[["551979bf.27e1f8","5545c155.63c26"]]},{"id":"548097f1.ec5b18","type":"inject","z":"652f38b.2da55c8","name":"Turn BLE Beacon ON","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":224.1072235107422,"y":190.98421096801758,"wires":[["9faae002.85fa6"]]},{"id":"9c251f63.6a348","type":"template","z":"652f38b.2da55c8","name":"Beacon OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/200/0/1\", \"new_value\":\"0\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":577.7184295654297,"y":238.9286642074585,"wires":[["551979bf.27e1f8","13bc3424.cdaf3c"]]},{"id":"98e318f2.038b28","type":"inject","z":"652f38b.2da55c8","name":"Turn BLE Beacon OFF","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":225.35724639892578,"y":240.984206199646,"wires":[["9c251f63.6a348"]]},{"id":"7c605c44.32bb14","type":"template","z":"652f38b.2da55c8","name":"Set Parking Time to 0 seconds","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/100/0/1\", \"new_value\":\"0\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":640.2183990478516,"y":291.428640127182,"wires":[["551979bf.27e1f8"]]},{"id":"168be813.5ee6a8","type":"inject","z":"652f38b.2da55c8","name":"Reset Parking Meter Time","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":236.60723114013672,"y":292.2342050075531,"wires":[["7c605c44.32bb14"]]},{"id":"e438f7e.0ebc608","type":"template","z":"652f38b.2da55c8","name":"de-registration command","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/86/0/1\", \"new_value\":\"arm1234\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"post\", \"options\":\"noResp=true\" }","x":755.0000648498535,"y":428.7500877380371,"wires":[["96558b46.989e28"]]},{"id":"eeb6773b.4aeb88","type":"inject","z":"652f38b.2da55c8","name":"de-register device","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":211.38888931274414,"y":428.3056335449219,"wires":[["e438f7e.0ebc608"]]},{"id":"13bc3424.cdaf3c","type":"trigger","z":"652f38b.2da55c8","op1":"1","op2":"0","op1type":"nul","op2type":"pay","duration":"10","extend":false,"units":"s","reset":"","name":"Wait for 10 seconds","x":824.3750648498535,"y":108.75005054473877,"wires":[["9faae002.85fa6"]]},{"id":"5545c155.63c26","type":"trigger","z":"652f38b.2da55c8","op1":"1","op2":"0","op1type":"nul","op2type":"pay","duration":"10","extend":false,"units":"s","reset":"","name":"Wait for 10 seconds","x":972.500072479248,"y":192.5000524520874,"wires":[["e438f7e.0ebc608"]]}]
